* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --body-background: #000;
    --text-color: #E1E1E6; 
    --border-color: 1px solid #4A808C;
    --background-header-input: #06181C;
    --background-header-button: #065E7C;
    --background-header-button-hover: #FFF;
    --text-header-button: #FFF;
    --text-header-button-hover: #065E7C;
    --background-thead: #092D38;
    --background-primary-tr: #06181C;
    --background-secondary-tr: rgba(6, 22, 27, 0.50);
    --text-remove: #F75A68;
    --background-noFavorites: #030B0D;
    --text-noFavorites: #4E5455;
    --scrollbar: #06181C;
    --scrollbar-thumb:#4A808C;
}

body {
    background-color: var(--body-background);
    height: 100vh;     
    padding: 10rem 1rem;
}

body * {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#app {
    max-width: 112rem;
    margin: auto;
    padding-bottom: 10rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.5rem;
}

header img {
    width: 18.6rem;
}

header .search {
    display:flex;
    align-items: center;
    gap: .8rem;
}

header .search input {
    font-weight: 400;
    width: 46.2rem;
    height: 4.8rem;
    padding: 1.6rem;
    border: var(--border-color);
    border-radius: .5rem;
    background: var(--background-header-input);
}

header .search input::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
}

header .search button {
    width: 17rem;
    height: 4.8rem;
    padding: 1.2rem 3.2rem;
    border: none;
    border-radius: .5rem;
    background: var(--background-header-button);

    display: flex;
    align-items: center;
    gap: .8rem;

    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-header-button);

    cursor: pointer;
}

header .search button:hover {
    background: var(--background-header-button-hover);
    color: var(--text-header-button-hover);
}

header .search button:hover svg g path{
    fill: var(--text-header-button-hover);
}

main {
    border-radius: 1rem;
    border: var(--border-color);
    overflow: hidden;
}


/*scroll settings*/

table thead, table tbody{
    display: block;  
}
  
tbody{  
    overflow: hidden;
    overflow-y: scroll;
    max-height: 40rem;
}

table thead th:first-child, table tbody td:first-child {
    width: 40rem;
}

table thead th, table tbody td {
    width: 24rem;
}

::-webkit-scrollbar {
    width: .7rem; 
    background-color: var(--scrollbar);
}
   
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: .3rem;
}

/*scroll settings*/


table {
    width: 100%;
    border-collapse: collapse; 
}

table thead {
    background: var(--background-thead);
    border-bottom: var(--border-color);
}

table thead th {
    padding: 1.6rem 4rem;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: var(--background-primary-tr);
}

table tbody tr:nth-child(odd) {
    background-color: var(--background-secondary-tr);
}

table tbody tr {
    border-top: var(--border-color);
}
table tbody td {
    padding: 2.4rem 4rem;
}

table tbody .user {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

table tbody .user img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
}

table tbody .user a {
    text-decoration: none;
}

table tbody .user span {
    font-weight: 400;
}

table tbody button {
    border: none;
    background: none;
    color: var(--text-remove);
    cursor: pointer;
}

.noFavorites {
    background: var(--background-noFavorites);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    height: 40rem;
}

.noFavorites img {
    width: 13.2rem;
}

.noFavorites h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-noFavorites);
}

.hide {
    display: none;
}
