* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --body-background: #141126;
    --app-background: #E0DFF2;

    --text-title: #141126;
    --text-title-secondary: #F5AA00;
    --text-color: #E0DFF2;
    --text-logo: #141126;
    --text-remove: #7C7EA6;
    --text-noFavorites: #4E5455;

    --background-header-input: #141126;
    --background-header-button: #141126;
    --background-header-button-hover: #7C7EA6;
    
    --background-thead: #7C7EA6;
    --background-tr: #141126;
    
    --background-noFavorites: #030B0D;
    
    --scrollbar: #141126;
    --scrollbar-thumb:#7C7EA6;
}

body {
    background-color: var(--body-background);     
}

body * {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-input);
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    min-height: 100vh;
}

.favoritesList {
    max-width: 100rem;
    padding: 3rem 4rem;
    margin: 4rem auto 0;
    border-radius: 2rem;
    background: var(--app-background);
    box-shadow: rgba(6, 6, 12, 0.25) 0px 50px 100px -20px, rgb(0, 0, 0) 0px 30px 60px -30px, rgba(10, 37, 64, 0.925) 0px -2px 6px 0px inset;
}
                                            /* Banner */
.banner {
    width: 100%;
    min-height: 100vh;
    background-image: url(./assets/backgroundBanner.jpg);
    background-position-y: 68%;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    overflow: hidden;
}

.banner .logo {
    position: absolute;
    animation: slideIn 2s ease-out forwards;
}

@keyframes slideIn {
    0% {
      top: -100%; /* Off-screen on the left */
    }
    100% {
      top: 4%; /* Position inside the container */
    }
}

.banner .logo img {
    width: 6.5rem;
    height: 6.5rem;
}

.container {
    display: flex;
    align-items: center;
    border: 2px solid var(--app-background);
    border-radius: 2rem;
    width: 100%;
    max-width: 100rem;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.288) 0px 5px 15px; 
    overflow: hidden;
    backdrop-filter: blur(0rem);
    animation: blurIn 10s ease-in-out forwards;
}

@keyframes blurIn {
    0% {
        backdrop-filter: blur(0);
    }
    100% {
        backdrop-filter: blur(3rem); 
    }
}

.container .text {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 5rem;
}

.container .text h1 {
    font-family: "Protest Strike", sans-serif;
    font-size: 7rem;
    color: var(--text-title);
    -webkit-text-stroke: 1px var(--text-title-secondary);
}

.container .text h1 span {
    font-family: "Protest Strike", sans-serif;
    font-size: 7rem;
    color: var(--text-title-secondary);
    -webkit-text-stroke: 2px var(--text-title);
}

.container .text .description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.container .text .description h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--text-title);
}

.container .text .description p {
    font: 2rem;
    font-weight: 500;
    color: var(--text-title);
}
                                            /* Banner */
                                            /* FavoritesHeader */
.favoritesHeader {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 3rem;
}

.favoritesHeader h2{
    font-size: 4.2rem;
    font-weight: 500;
    font-family: "Protest Strike", sans-serif;
    color: var(--text-logo);
}

.favoritesHeader p {
    font-size: 1.8rem;
}

.favoritesHeader .search {
    display:flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.favoritesHeader .search input {
    font-weight: 400;
    color: var(--text-color);

    width: 100%;
    
    height: 4.2rem;
    padding: 1.6rem;
    
    border-radius: 1rem;
    background: var(--background-header-input);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.favoritesHeader .search input::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    color:var(--text-color);
}

.favoritesHeader .search button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    width: 14rem;
    height: 4.2rem;
    padding: 1.2rem;
    border: none;
    border-radius: 1rem;
    background: var(--background-header-button);
    
    font-weight: 500;
    color: var(--text-color);

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.favoritesHeader .search button:hover {
    background: var(--background-header-button-hover);
}

.favoritesHeader .search button img {
    width: 1.8rem;
    height: 1.8rem;
}
                                            /* FavoritesHeader */
                                            /* FavoritesTable */
.favorites {
    max-width: 100rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

table {
    width: 100%;
    border-collapse: collapse; 

    font-size: 1.4rem;
}

table thead {
    width: 100%;
    background: var(--background-thead);
}

table tbody {
    width: 100%;
}

table thead th {
    width: 25%;
    min-width: 10rem;
    max-width: 25rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.5rem 1rem;
}

table tbody td {
    width: 25%;
    min-width: 10rem;
    max-width: 25rem;
    text-align: center;
    padding: 1rem 1rem;
}

table tbody tr {
    color: var(--text-color);
    background-color: var(--background-tr);
}

table tbody .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

table tbody .user a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table tbody .user a img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
}

table tbody .user span {
    font-weight: 400;
}

table tbody button {
    border: none;
    background: none;
    color: var(--text-remove);
    cursor: pointer;
}
                                            /*FavoritesTable */
                                            /*NoFavorites*/
.noFavorites {
    background: var(--background-noFavorites);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 20rem;
}

.noFavorites img {
    width: 8rem;
}

.noFavorites span {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--text-noFavorites);
}

.hide {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--background-thead);
}

footer p {
    font-weight: 500;
    color: var(--text-title);
}
                                            /* NoFavorites */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
                                            /*scroll settings*/
::-webkit-scrollbar {
    width: .7rem; 
    width: .5rem; 
    background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: .3rem;
    border-radius: 1rem;
}
                                            /*scroll settings*/

                                            /* FavoritesHeader mobile  */
@media (max-width: 1020px) {
    .favoritesList {
        padding: 2rem;
        margin: 2rem;
    }

    .favoritesHeader h2{
        font-size: 3.6rem;
    }

    .favoritesHeader p {
        text-align: center;
    }

    .favoritesHeader .search button {
        font-size: 1.4rem;
    }

    .favoritesHeader .search button img {
        width: 1.4rem;
        height: 1.4rem;
    }
}
                                            /* FavoritesHeader mobile  */

                                            /* Banner mobile  */
@media (max-width: 1020px) {
    .container .text{
        padding: 3rem;
    }
}

@media (max-width: 768px) {
    .banner {
        justify-content:center;
    }

    .banner .logo img {
        width: 5rem;
        height: 5rem;
    }

    .container .text {
        flex-direction: column;
        padding: 2rem;
        text-align: center;
    }

    .container .text h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
        margin-bottom: -2rem;
    }

    .container .text h1 span {
        font-size: 4.5rem;
    }

    .container .text .description {
        gap: 1rem;
    }

    .container .text .description h2 {
        font-size: 2rem;
    }

    .container .text .description p {
        font: 1.6rem;
    }

} 

@media (max-width: 500px) {
    .banner {
        padding: 1rem 1rem;
        gap: 1rem;
    }

    .banner .logo img {
        width: 3.5rem;
        height: 3.5rem;
    }
    .container .text {
        padding: 2rem 1rem;
    }

    .container .text h1 {
        font-size: 3.8rem;
    }

    .container .text h1 span{
        font-size: 3.8rem;
    }
    .container .text h2 {
        font-size: 1.8rem;
    }
}
                                            /* Banner mobile  */                                          

                                            /* FavoritesTable mobile*/
@media (max-width: 768px) {
    table thead th {
        font-size: 1.6rem;
        padding: 1rem 0.5rem;
    }

    table tbody td {
        padding: 1rem 0.5rem;
    }
} 

@media (max-width: 500px) {
    table {
        display: block;  
    }
    
    table{  
        overflow: hidden;
        overflow-x: scroll;
    }
}
                                            /*FavoritesTable mobile*/
                                            /*NoFavorites mobile*/
@media (max-width: 600px) {
    .noFavorites img {
        width: 6rem;
    }

    .noFavorites span {
        font-size: 2rem;
    }
}
                                            /*NoFavorites mobile*/ 
    
                                            /*Footer mobile*/
@media (max-width: 500px) {
    footer p {
        text-align: center;
        font-size: 1.2rem;
    }
}
    